In [49]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path("PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [50]:
# Calculate the total number of unique schools
school_count = len(school_data['School ID'])
school_count

15

In [51]:
# Calculate the total number of students
student_count = student_data["Student ID"].count()
student_count

39170

In [52]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [53]:
# Calculate the average (mean) math score
average_math_score = student_data['math_score'].mean()
average_math_score

78.98537145774827

In [54]:
# Calculate the average (mean) reading score
average_reading_score = student_data['reading_score'].mean()
average_reading_score

81.87784018381414

In [55]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [56]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [57]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [58]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [59]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
#https://stackoverflow.com/questions/38599912/index-must-be-called-with-a-collection-of-some-kind-assign-column-name-to-dataf
district_summary = pd.DataFrame({"Total Schools":school_count,"Total Students":student_count,"Total Budget":total_budget,
                                 "Average Math Score":average_math_score,"Average Reading Score":average_reading_score,
                                 "% Passing Math":passing_math_percentage, "% Passing Reading":passing_reading_percentage,
                                 "% Overall Passing":overall_passing_rate}, index = list("0"))
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [60]:
# Use the code provided to select all of the school types
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [61]:
# Calculate the total student count per school
#https://stackoverflow.com/questions/11346283/renaming-column-names-in-pandas

per_school_counts = pd.DataFrame(school_data_complete.groupby("school_name").count())
per_school_counts = per_school_counts.drop(['student_name','gender','grade','reading_score','math_score','School ID','type','size','budget'], axis=1)
per_school_counts = per_school_counts.rename({'Student ID':"Total Student Count"}, axis=1)
per_school_counts

                       Total Student Count
school_name
Bailey High School                    4976
Cabrera High School                   1858
Figueroa High School                  2949
Ford High School                      2739
Griffin High School                   1468
Hernandez High School                 4635
Holden High School                     427
Huang High School                     2917
Johnson High School                   4761
Pena High School                       962
Rodriguez High School                 3999
Shelton High School                   1761
Thomas High School                    1635
Wilson High School                    2283
Wright High School                    1800

In [62]:
# Calculate the total school budget and per capita spending per school

per_school_budget = pd.DataFrame(school_data_complete.groupby("school_name").sum())
per_school_budget = per_school_budget.drop(['Student ID','student_name','gender','grade','reading_score','math_score','School ID','type','size'], axis=1)
per_school_budget = per_school_budget.rename({'budget':"Total Budget"}, axis=1)

per_school_capita = pd.merge(per_school_budget, per_school_counts, on="school_name")
per_school_capita["Budget per Student"]= per_school_capita["Total Budget"] / per_school_capita["Total Student Count"]

In [73]:
# Calculate the average test scores per school
#https://www.geeksforgeeks.org/how-to-rename-columns-in-pandas-dataframe/
per_school_math_reading = school_data_complete.drop(['Student ID', 'student_name', 'gender', 'grade', 'School ID', 'type', 'size', 'budget'], axis=1)
per_school_math_reading = per_school_math_reading.groupby("school_name").mean()
per_school_math_reading = per_school_math_reading.rename(columns={'reading_score':'Average Reading Score','math_score':'Average Math Score'})

per_school_math = per_school_math_reading.drop(['Average Reading Score'], axis=1)
per_school_reading = per_school_math_reading.drop(['Average Math Score'], axis=1)

In [117]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete.loc[school_data_complete['math_score'] >=70]
students_passing_math = students_passing_math.drop(['Student ID', 'student_name', 'gender', 'grade', 'School ID', 'type', 'size', 'budget','reading_score'], axis=1)

students_passing_math = students_passing_math.groupby("school_name").count()
students_passing_math = students_passing_math.rename({'math_score':"Passing Math Count"}, axis=1)
school_students_passing_math = students_passing_math

In [118]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete.loc[school_data_complete['math_score'] >=70]
students_passing_reading = students_passing_reading.drop(['Student ID', 'student_name', 'gender', 'grade', 'School ID', 'type', 'size', 'budget','math_score'], axis=1)

students_passing_reading = students_passing_reading.groupby("school_name").count()
students_passing_reading = students_passing_reading.rename({'reading_score':"Passing Reading Count"}, axis=1)
school_students_passing_reading = students_passing_reading

In [119]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [121]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

per_school_passing_math

                       Passing Math Count  Total Student Count
school_name
Bailey High School                    NaN                  NaN
Cabrera High School                   NaN                  NaN
Figueroa High School                  NaN                  NaN
Ford High School                      NaN                  NaN
Griffin High School                   NaN                  NaN
Hernandez High School                 NaN                  NaN
Holden High School                    NaN                  NaN
Huang High School                     NaN                  NaN
Johnson High School                   NaN                  NaN
Pena High School                      NaN                  NaN
Rodriguez High School                 NaN                  NaN
Shelton High School                   NaN                  NaN
Thomas High School                    NaN                  NaN
Wilson High School                    NaN                  NaN
Wright High School                    NaN                  NaN